:root {
  color-scheme: dark light;
  --color: "red";
}

body {
  color: var(--color);
  background-color: var(--background-color);
}

.App {
  text-align: center;
}

button {
  width: 6em;
  height: 2em;
  margin: 1em;
  color: white;
  background: black;
  font-size: 1.1rem;
  border: none;
  border-radius: 10px;
}
